
.html {
  font-family: "Meiryo", sans-serif;
}

.container {
  background-color: orange;
  height: cover;
  width:100vw
  font-size: 25px;
}

.item {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
  height: cover;
  width: 70%;  /*containerの画面幅を100vwにしたため、その7o%分に設定した。*/
}

.name {
  width: 50%;
  padding: 1em 0.5em; /*最初の1emは親要素のフォントサイズ(=30px)と同じ大きさのpaddingを上下に指定して、0.5pxは左右に対しての指定。この値がテキストボックスに入力した文字のパディングとして確保される*/
  line-height: 1;  /*ここの数値を変えることで、テキストボックスの周りの線の高さが変わる。*/
  font-size: 15px;
}

.age {
  width: 50%;
  padding: 1em 0.5em;
  line-height: 2;
}

#sentaku {
  font-size: 20px;
}

.impression {
  width: 100%;
  padding: 1em 0.5em;
  line-height: 1;
}

#submission { 
  width: 25%;
  padding: 1em 0.5em;
  line-height: 1;
  text-align: center;
}

.backtohome {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.backtohome a:link {
  color: lightgreen;
}

.backtohome a:visited {
  color: lightgreen;
}

.backtohome a:hover {
  color: white;
}

.backtohome a:active {
  color: white;
}


@media screen and (max-width:480px) {
 .textarea {
  width: 50%;
 }
}

@media screen and (max-width:480px) {
  .container {
    font-size: 50%;
  }
  .name {
    font-size: 50%]
  }
  #sentaku {
    font-size: 50%;
  }
  .backtohome {
    font-size: 50%;
  }
}
    
